*{
    margin: 0px;
}
/*augusto*/
header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: rgb(16, 12, 3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    margin-bottom: 1px;
}

.navegacao{
    margin-left: 240px;
    position: absolute;
    width: 65%;
    margin-right: 1px;
}
.logo{
    font-size: 2.1em;
    color: #fff;
    user-select: none;
    cursor: pointer;
  
}
.navegacao a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    
}

.cadastro {
    position: absolute;
    left: 70%;
    text-decoration: none;
}

.cadastro button{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-size: 1.1em;
    font-weight: 40px;
    margin-left: 40px;
    margin-left: 0px;
    
}

.navegacao .cadastro button:hover{
    background: #fff;
    color: black;
}

/*augusto*/  

/*silvio*/

section{
    padding: 20px 2px;
    margin: 10px 0px;
    
}
.banner{
    width: 100%;
    display: grid;
    grid-template-columns: 65% 35%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    
    background-color: aliceblue;
    
}
#escrita{
    width: 450px;
    padding: 20px;
    margin: 0px 25%;
    box-sizing: border-box;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
#escrita p{
    font-size: 20px;
}
.main-btn{
    display: inline-block;
    color: #111;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    padding: 5px 25px;
    transition: all .42s ease;
    text-decoration: none;
}
.main-btn:hover{
    background-color: #000;
    color: #fff;
}

.banner div img{
    position: relative;
    width: 650px;
    height: auto;
}


/*produtos*/
.produtos{
    margin: 10px;
    padding-left: 9.5%;
    padding-right: 9.5%;
    display: grid;
    grid-template-columns: 32% 32% 32% ;
    gap: 17px;
    margin-bottom: 45px;
}
.row{
    border: 2px rgb(168, 168, 168) solid;
    border-radius: 4px;
}
.row img{
    width: 100%;
    height: auto;
}

.product-text h5{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.product-text {
    text-align: center;
}
/*rodapé*/
footer{
    width: 100%;
    color: whitesmoke;
    box-sizing: border-box;
}
#footer_content{
    background-color:#000 ;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 3rem 3.5rem;
    
}
#footer_contacs{
    margin-bottom: 2px;
}
#footer_social_media{
    display: flex;
    gap: 5px;
    margin-top: 4px;
}
#footer_social_media .footer-link{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 17px;
    width: 17px;
    color: #fff;
    border-radius: 50%;
}
#instagram{
    background-color: rgb(250, 38, 250);
}
#facebook{
    background-color: rgb(8, 107, 255);
}
#whatsapp{
    background-color: rgb(8, 255, 61);
}
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 13px;
    list-style: none;
    font-size: 20px;
}
.footer-list .footerlink{
    color: rgb(158, 158, 158);
    text-decoration: none;
}
