*{
    margin: 0px;
}
/*augusto*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: rgb(16, 12, 3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.cadastro{
    position: absolute;
    left: 1350px;
    top: -12px;
    
}

.navegacao{
    margin-left: 240px;
    position: absolute;
}
.logo{
    font-size: 2.1em;
    color: #fff;
    user-select: none;
    cursor: pointer;
  
}
.navegacao a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    
}


.navegacao a:hover{
    transition: 2s;
    border-bottom: 2px solid #fff;
}
.navegacao .cadastro{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-size: 1.1em;
    font-weight: 40px;
    margin-left: 40px;
}

.navegacao .cadastro:hover{
    background: #fff;
    color: black;
}

/*augusto*/  

/*silvio*/

.banner{
    width: 100%;
}

/*produtos*/
.produtos{
    margin: 10px;
    padding-left: 9.5%;
    padding-right: 9.5%;
    display: grid;
    grid-template-columns: 32% 32% 32% ;
    gap: 17px;
    margin-bottom: 45px;
}
.row{
    border: 2px black solid;
}
.row img{
    width: 100%;
    height: auto;
    
    
}
.product-text h5{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
